@import '../../styles/styles.scss';

.#{$prefix}--page-spacing {
  display: flex;
  flex-direction: column;
}

.#{$prefix}--page {
  @include safe-area;
  margin: 0 auto;
}

.#{$prefix}--page-content-container {
  padding: 0 $spacing-small;
  margin: auto;

  @include breakpoint-up(md) {
    padding: 0 $spacing-medium;
    padding-top: $spacing-xx-large;
  }

  @include breakpoint-down(md) {
    padding-top: 58px;
  }
}

.#{$prefix}--page-content {
  padding-bottom: $spacing-medium;
  margin: $spacing-large auto;
  @extend .#{$prefix}--page-spacing;

  @include breakpoint-up(md) {
    padding-bottom: $spacing-xx-large;
  }
}

.#{$prefix}--page-width-small {
  @media (min-width: $breakpoint-md-width) {
    width: 752px;
  }
}

.#{$prefix}--page-width-medium {
  @media (min-width: $breakpoint-md-width) {
    width: 1152px;
  }
}

.#{$prefix}--page-width-large {
  width: 100%;
}

.#{$prefix}--page-no-header-top {
  padding-top: $spacing-xxx-large;
}